.feedObj {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    border-style: solid;
    
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
}

.right {
    margin-left: auto;
}

